.check-input, .sidebar-checkbox_list li a input
{
    width:15px;
    height: 15px;
    transform: translate(0px, 2px);
}
.breadcrumb-area {
    background-image: url(http://events.oneeyegps.com/gifty/assets/images/banner/shop-banner.jpg) !important;
    padding: 100px 0;
}
.pro-pagination-style ul li a.prev, .pro-pagination-style ul li a.next {
    padding-top: 10px;
}
.category-menu1
{
    display:none;
}

.sidebar-widget h4.sidebar-widget-title {
    margin-bottom: 20px;
}

    .slick-slide {
    display: none;
    float: left;
     height: auto;
    min-height: 1px;
   }
   .single-hero-slider
   { 
       height: 613px !important;
       
   }
  .dot-style-2.dot-style-2-mrg-2 ul {
    margin: -150px 0 0 !important;
 }
 .icon-arrow-left, .icon-arrow-right{
     line-height: 1.9 !important;
 }
 .tab-content .jump{
         height: 68% !important;
 }
  @media screen and (max-width: 786px)
{
 
 .header-small-device111
 {
     display:none;
 }
}
.nav-style-1 > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-categori-wrap-upper1
{
   
    padding-top: 10px;
}


/*-----------confirmation-----------*/


     .order-section .container123{
         box-shadow: 0px 0px 9px 0px rgb(196 198 199 / 46%);
         padding: 15px 30px 30px 30px;
         margin-top: 30px;
         margin-bottom: 30px;
     }
     .order-confirm h3{
         font-size: 18px;
    background-color: #f2f2f2;
    display:inline-block;
    margin-top:20px;
    
     }
     .order-content{
         margin-top:10px;
     }
     .order-content h4 {
    color: #de7444;
    font-size: 18px;
    background-color: #f2f2f2;
    display: inline-block;
}
p{
    font-size:13px !important;
}
.order-content p {
    
    font-size: 13px;
    font-weight: bold;
}
.order-content span {
    color: #007185;
}
.order-row{
    background-color: #f0f4f6;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #4dbdaf;
}
.order-left p {
    color: #007600;
    font-size: 16px;
    font-weight: 600;
}
.order-left a.btn {
     background-color: #4dbdaf;
    border: 1px solid #4dbdaf;
    color: white;
    font-weight: 600;
    font-size: 13px;
    border-radius: 0;
}
.order-left a.btn:hover, .order-left a.btn:hover
{
    background-color:#311d07 !important;
     border: 1px solid #311d07 !important;
    box-shadow:none !important;
    transition:0.5s;
}
.order-payment li {
    font-size: 13px;
}
b, strong {
    font-weight: bolder;
    font-size: 16px;
}


         
.search-div
{
z-index: 9999999999999;
    background: #fff;
    width: 79%;
    margin-top: -1px;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 16px;
    height:auto;
    position: absolute;
    right: 16px;
}
.hiraola-product-tab_area-2 .product-tab, .hiraola-product-tab_area-3 .product-tab, .hiraola-product-tab_area-4 .product-tab{
    margin-bottom: 36px !important;
}

.search-div ul
{
    list-style: none;
    padding: 0;
    margin: 0 !important;
    max-height: 400px;
    overflow-y: auto;
}

.search-div ul li
{
    list-style: none;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    margin: 0 !important;
    position: relative;
}

.search-link
{
    display: block;
    cursor: pointer;
    padding: 10px 8px;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    border: 0;
}

.search-result-span
{
    display: block;
    height: 100%;
    float: left;
    padding: 0 10px 0 0;
}

.search-title
{
    display: block;
    font-weight: normal;
    margin-bottom: 2px;
    color: #cda557;
   font-size: 14px;
    font-weight: 600;
}

.search-img
{
    height:50px;
    width:50px;
}

.view-res
{
    line-height: 40px;
    display: block;
    text-decoration: none;
    border: 0;
    text-align: center;
        color: #cda557;
    font-weight:600;
}

.search-price
{
    font-weight:600;
    font-size:12px;
}

@media  only screen and (max-width:768px)
{
    .search-div
    {
       width: 93% !important;
    margin-top: -46px !important;
    }
}


.header-middle_area .select-search-category ul.list{
    height: auto !important;
}
.product-desc_info{
    font-size:16px;
    font-weight:bold;
}
.header-middle_area .hm-searchbox {
    margin: 0 AUTO;
    margin-top: 13px;
}
.header-shipping_area
{
     font-size: 13px;
}
.header-top_area {
    background-color: #cda557;
    
}
.header-top_area ,.header-shipping_area ul li a, .ht-menu .this-link{
    color:white !important;
}
.header-top_area:hover ,.header-shipping_area ul li a:hover, .ht-menu .this-link:hover
{
    color:white !important;
}
.header-top_area .ht-menu > ul > li > a > i, .fa-phone {
    padding-left: 5px;
    font-size: 13px;
}
/*---------*/


.card-columns .card {
    display: inline-block;
    width: 100%;
    padding: 0px 0px 0px 35px;
}
.card-columns {
  columns:4 
}
.sub-level2 {
    font-weight: 200;
  }
.drop-mega-menu {
   display:none;
  position: absolute;
  width:100%;
  left: 0;
  right:0;
  top:99%;
  background-color:#fafaf3;
  z-index: 2;
}
.drop-mega-menu>.container  {
  background-color:#fff;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,.3);
    overflow: hidden;
}
.nav-item1:hover .nav-link + .drop-mega-menu {
  display:block;
}
.drop-mega-menu .card-columns .card {
  background-color: transparent;
}
.drop-mega-menu  .card-title {
  margin-bottom:0.5rem;
}
.card-title a{
     font-size: 13px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    display: block;
   
}
.sub-level2 a{
    
    text-transform: uppercase;
font-size: 12px;
 font-weight: 400 !important;
}
.order-logo {
    margin-bottom: 10px;
    height: 60px;
}
.order-logo  img
{
    height:100%;
    width:auto;
}
/*--------end confirmation------*/

#ListOfCoupon  .modal-content
{
    width:70%;
}
.list-btn
{
    background-color: #000000;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.list-btn:hover {
    background-color: #ff2f2f;
}
 button.cart-btn-2 , .list-btn {

    padding: 12px 25px 13px !important;
}
@media  only screen and (max-width:768px)
{
    #ListOfCoupon  .modal-content
  {
    width:96% !important;
    margin-left: 16px !important;
  }
  .checkout-login-info3 form input[type="text"] {
    width: 100% !important;
    margin-bottom: 20px;
}
.checkout-login-info3 form input[type="submit"] {
    width: 47% !important;
}
button.cart-btn-2, .list-btn {
    padding: 12px 11px 13px !important;
}
}
